%html
  %head
    %title AeroParser
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    .d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm
      %h5.my-0.mr-md-auto.font-weight-normal AeroParser
      %nav.my-2.my-md-0.mr-md-3
        = link_to 'Компании', companies_path, class: current_page?(companies_path) || current_page?(root_path) ? "btn btn-outline-primary" : "p-2 text-dark"
        = link_to 'Самолеты', aircrafts_path, class: current_page?(aircrafts_path) ? "btn btn-outline-primary" : "p-2 text-dark"
        = link_to 'Города', cities_path, class: current_page?(cities_path) ? "btn btn-outline-primary" : "p-2 text-dark"

    .wrapper
      .container
        .row
          = yield

    %footer.border-top
      .container
        %p.text-center.mt-3 &copy; 2019
